In [1]:
import yfinance as yf
from datetime import datetime
import pandas as pd
import psycopg2
import configparser
import datetime
import nbimporter
from General import *
from Daily_etl import *
from Functions import *
from Connection_to_pgAdmin4 import *

In [2]:

# Function to execute SQL queries
#SQL REFERENCE A


def execute_sql_query(query, params=None):
    
    # Establish a connection to the database
    connection = connect_to_database()

    try:
        if connection:
            cursor = connection.cursor()
            
            # Execute the SQL query
            if params:
                cursor.execute(query, params)
            else:
                cursor.execute(query)

            # If it's a SELECT query, fetch the results
            if query.strip().lower().startswith("select"):
                results = cursor.fetchall()
                cursor.close()
                return results

            # For other types of queries, commit the changes
            else:
                connection.commit()
               # print("Query executed successfully.")

    except (Exception, psycopg2.Error) as error:
        print(f"Error: {error}")
        if connection:
            connection.rollback()

    finally:
        if connection:
            connection.close()

In [8]:
#Creating the table to store ticker and symbol that was downloaded
#Creating first table using function.
# Define the SQL query in the 'test' variable running as test
test = """
CREATE TABLE source.ticker_and_name (
    Symbol TEXT,
    Description TEXT
);
"""

# Execute the SQL query using the execute_sql_query function
execute_sql_query(test)

Error: relation "ticker_and_name" already exists

In [ ]:
#***************
# The below function inserts company data into source schema inside table s_customer table. This table was created directly inside postgreSQL
# This will be commented out to avoid running by error and rewriting the entire table or causing duplication.
#SQL REFERENCE B
#Reference cell A
#***************

'''

def insert_customer_data(row):
    query = """
    INSERT INTO source.s_customer 
    (Address1, City, State, Zip, Country, Phone, Website, Industry, Sector, SectorKey, Symbol, 
    Customer_Name, Full_Time_Employees, Profit_Margins, Earnings_Growth, Revenue_Growth, Market_Cap, 
    Fifty_Two_Week_High, Fifty_Two_Week_Low, Currency, Exchange) 
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    """
    params = (
        row['address1'] if row['address1'] != 'N/A' else None,
        row['city'] if row['city'] != 'N/A' else None,
        row['state'] if row['state'] != 'N/A' else None,
        row['zip'] if row['zip'] != 'N/A' else None,
        row['country'] if row['country'] != 'N/A' else None,
        row['phone'] if row['phone'] != 'N/A' else None,
        row['website'] if row['website'] != 'N/A' else None,
        row['industry'] if row['industry'] != 'N/A' else None,
        row['sector'] if row['sector'] != 'N/A' else None,
        row['sectorKey'] if row['sectorKey'] != 'N/A' else None,
        row['symbol'] if row['symbol'] != 'N/A' else None,
        row['longName'] if row['longName'] != 'N/A' else None,
        int(row['fullTimeEmployees']) if row['fullTimeEmployees'] != 'N/A' else None,
        float(row['profitMargins']) if row['profitMargins'] != 'N/A' else None,
        float(row['earningsGrowth']) if row['earningsGrowth'] != 'N/A' else None,
        float(row['revenueGrowth']) if row['revenueGrowth'] != 'N/A' else None,
        float(row['marketCap']) if row['marketCap'] != 'N/A' else None,
        float(row['fiftyTwoWeekHigh']) if 'fiftyTwoWeekHigh' in row and row['fiftyTwoWeekHigh'] != 'N/A' else None,
        float(row['fiftyTwoWeekLow']) if 'fiftyTwoWeekLow' in row and row['fiftyTwoWeekLow'] != 'N/A' else None,
        row['currency'] if row['currency'] != 'N/A' else None,
        row['exchange'] if row['exchange'] != 'N/A' else None
    )
    execute_sql_query(query, params)
    
'''

In [ ]:
##this table has been generated by running this command  so goint to disable this as i do not want to lose the table being replaced

'''
execute_sql_query("""
    CREATE TABLE source.historical_stock_data (
        symbol TEXT,
        date DATE,
        open NUMERIC(10, 2),
        high NUMERIC(10, 2),
        low NUMERIC(10, 2),
        close NUMERIC(10, 2),
        volume INT,
        dividends NUMERIC(10, 2),
        stock_splits NUMERIC(10, 2)
    );""") 
    
'''